table, th, td {
    position: relative;
   border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
    border-top-right-radius:12px;
    border-top-left-radius:12px;
    border: 3px solid black;
  
}
img{
    border-radius: 5px;
}

#frm{
    position: absolute;
    left: 350px;
    top: 100px;
}

input, button{
    position: relative;
    top: 30px;
    left: -30px;
    border-radius:6px;
	border:2px solid black;
    color:black;
    cursor: pointer;
    font-family:arial;
	font-size:20px;
	font-weight:bold;
    background-color:#a19a9a;
    height: 50px;
    width: 200px;
}

p{
    position: relative;
    left: 215px;
    font-family:arial;
	font-size:30px;
	font-weight:bold;
    
    
}